{% extends "auctions/layout.html" %}

{% block body %}
{% load index %}

<div  class="container">
	<h2>Active Listings</h2>
	<br>
	<div>
		{% for listing in listings %}
		{% if not listing.ended %}

		<div class="listing row">
			<div class="col-3">
				{% if listing.img != "" %}
				<img src="{{listing.img_url}}" width="200">
				{% endif %}
			</div>
			<div class="col-9">
				<h5><a href="{% url 'listing' listing.id %}">{{ listing }}</a></h5>
				<p><strong>Current Bid: ${{ bids|index:forloop.counter0}}</strong></p>
				<p>By: {{ listing.author }}</p>
				<p>Created {{ listing.date_created }}</p>
			</div>
			
		</div>

		{% endif %}
		{% endfor %}
	</div>

</div>    
{% endblock %}